@import "../../sass/index.scss";

.root-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  min-height: 100vh;
}
.content {
  padding: 1rem;
}
@media (max-width: 375px) {
  .nav-item {
    text-align: center;

    div {
      justify-content: center;
    }
  }
}