@import "../../sass/index.scss";

.nav-item {
  padding: 1rem;
  
  div {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    
    a {
      font-size: 1.1rem;
      font-weight: 500;
      text-decoration: none;
      color: $primary-color;
      transition: all .3s;
      
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}