@import "../../sass/index.scss";

label {
  font-weight: 500;
}
input, select {
  padding: .5rem;
  border: 2px solid transparent;
  border-radius: .3rem;
  color: $primary-color;
  background-color: $secondary-color;
  box-shadow: 0 0 .5rem $secondary-color;

  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:focus-visible {
    border: 2px solid $quaternary-color;
    outline: none;
  }
  
}
input[type="checkbox"] {
  &:checked {
    background-color: $senary-color;
  }
}
.items__select-type {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.resources {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #quantity {
    width: 4rem;
  }
}
.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  padding: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 0 .5rem $secondary-color;
  border-radius: .5rem;
}
.items-list {
  display: flex;
  gap: .3rem;
  flex-direction: column;
  justify-content: space-between;
}
.items-total {
  display: flex;
  justify-content: space-between;
  font-weight: 600;

  div {
    display: flex;
    gap: .5rem;
    align-items: center;
    text-align: center;
  }
}
.totalFee {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 0 0;
  font-weight: 600;
  border-top: 3px solid $senary-color;

  select {
    background-color: $senary-color;
    box-shadow: 0 0 .5rem $senary-color;
  }
}
.total-price {
  color: $senary-color;
  font-weight: 700;
}