@import "../../sass/index.scss";

.items__select-type {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.resources {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  #quantity {
    width: 4rem;
  }
}
.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  padding: 1rem;
  background-color: $secondary-color;
  box-shadow: 0 0 .5rem $secondary-color;
  border-radius: .5rem;

  div {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    
    span {
      padding: .5rem 0;
      border-bottom: 1px solid $tertiary-color;
    }
  }
}
.items-total {
  padding: .3rem;
  font-weight: 600;
}
label {
  margin-bottom: .5rem;
  font-weight: 500;
}
input, select {
  padding: .5rem;
  border: 2px solid transparent;
  border-radius: .3rem;
  background-color: $secondary-color;
  box-shadow: 0 0 .5rem $secondary-color;
  
  &:focus,
  &:focus-visible {
    border: 2px solid $quaternary-color;
    outline: none;
  }
}