@import "./colors.scss";

button {
  width: 5rem;
  border-radius: .3rem;
  border: 1.5px solid transparent;
  padding: .5rem;
  color: $senary-color;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: $quinary-color;
  }
  &:focus,
  &:focus-visible {
    outline: 1px auto -webkit-focus-ring-color;
  }
}
.addBtn {
  background-color: $tertiary-color;
}
.deleteBtn {
  background-color: $quinary-color;
}