@import "./colors.scss";

button {
  width: 5rem;
  border-radius: .3rem;
  border: 1px solid transparent;
  padding: .3rem;
  color: $primary-color;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.3s;
}
.addBtn {
  background-color: $tertiary-color;
  box-shadow: 0 0 .5rem $tertiary-color;
}
.deleteBtn {
  background-color: $senary-color;
  box-shadow: 0 0 .5rem $senary-color;
}